import(splines)
import(survival)
import(relsurv)

importFrom(stats, pnorm, dnorm, qnorm, update,  binomial, lm, glm, na.omit, predict, quantile, sd, optim, pchisq, update.formula, coef, setNames, as.formula, model.matrix)
importFrom(date, date.mdy, mdy.date, as.date)
importFrom(graphics, abline, lines, plot.default)
importFrom(nlme, nlme, varFixed, varPower)
importFrom(MASS, mvrnorm)
importFrom(mvtnorm, rmvnorm)
importFrom(statmod, gauss.quad)
importFrom(doParallel, registerDoParallel)
importFrom(foreach, foreach, registerDoSEQ, "%dopar%")
importFrom(parallel, clusterEvalQ, makeCluster, stopCluster)
importFrom(kernlab, ksvm)
importFrom(nnet, nnet)
importFrom(glmnet, glmnet)
importFrom(caret, train, trainControl, twoClassSummary)
importFrom(SuperLearner, SuperLearner, All)

export(ipw.survival)
export(ipw.log.rank)
export(gc.logistic)
export(gc.survival)
export(gc.sl.binary)
export(mixture.2states)
export(markov.3states)
export(markov.3states.rsadd)
export(markov.4states)
export(markov.4states.rsadd)
export(semi.markov.3states)
export(semi.markov.3states.rsadd)
export(semi.markov.3states.ic)
export(semi.markov.4states)
export(semi.markov.4states.rsadd)
export(lrs.multistate)
export(pred.mixture.2states)
export(auc)
export(expect.utility1)
export(expect.utility2)
export(roc.binary)
export(roc.net)
export(roc.time)
export(roc.summary)
export(survival.summary)
export(survival.summary.strata)
export(differentiation)
export(rmst)

S3method(plot, roc)
S3method(lines, roc)

S3method(plot, survival)